{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="site-section bg-light" id="pricing-section">
    <div class="container">
    
<div class="row site-section" id="faq-section">
    <div class="col-12 text-center" data-aos="fade">
      <h2 class="section-title">Frequently Ask Questions</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      
      <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">Do accept both Paypal and Stripe?</h3>
        <p>At the moment we only operate on paypal but soon our system will be upgraded and we will also accept Stripe</p>
        </div>
        
      
       
    <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
      <h3 class="text-black h4 mb-4">How long do you take to develop an application?</h3>
      <p>This depents on the task given, the site map provided and the Timeframe as agreed with the client</p>
    </div>

      
    <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
      <h3 class="text-black h4 mb-4">Do you accept Mpesa payments?</h3>
      <p>yeah, we have a Lipa na Mpesa system as per now but we will be intergrating our system for direct payments</p>
      </div>
      
      
    </div>
    <div class="col-lg-6">
      <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">Where are you from?</h3>
        <p>We are in Kenya but soon we will be having our branch offices in most part of the world</p>
      </div>

      <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">What is your opening time?</h3>
        <p>We work with clock,we are always online throught out.You can reach us anytime.</p>
      </div>
      
    </div>
  </div>

  </div>
  </section>




  

{% endblock %}