{% load staticfiles %}
<footer class="site-footer" data-aos="fade-up" data-aos-delay="100">
    <div class="border-top pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-3 mb-4">
              <h2 class="footer-heading mb-4">Abouts</h2>
              <p>I am from Kenya, a Software Engineer and a Freelancer.I am working on developing softwares, Learning more on Computer Science related Field, and Travelling across borders to solve problems and ensuring we focus most on practicle</p>
            </div>
            <div class="col-md-3 ml-auto">
              <h2 class="footer-heading mb-4">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'pricing' %}" class="smoothscroll">Pricing</a></li>
                <li><a href="{% url 'FAQs' %}" class="smoothscroll">FAQs</a></li>
                <li><a href="{% url 'services' %}" class="smoothscroll">Services</a></li>
                <li><a href="{% url 'testimonial' %}" class="smoothscroll">Testimonials</a></li>
                <li><a href="{% url 'contacts' %}" class="smoothscroll">Contacts</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h2 class="footer-heading mb-4">Connect on</h2>
              
              <li><a href=""><i aria-hidden="true" class="fa fa-facebook-square"></i></a>Facebook</li>
              <li><a href=""><i aria-hidden="true" class="fa fa-twitter-square"></i></a>Twitter</li>
              <li><a href=""><i aria-hidden="true" class="fa fa-linkedin-square"></i></a>Linkedin</li>
              <li><a href=""><i aria-hidden="true" class="fa fa-google-plus-square"></i></a>Google</li>
              <li><a href=""><i aria-hidden="true" class="fa fa-instagram"></i></a>Instagram</li>
            </div>
          
        <div class="col-md-3">
          <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
          <form action="#" method="post" class="footer-subscribe">
            <div class="input-group mb-3">
              <input type="text" class="form-control border-secondary text-black bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
   
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p style="text-align: center;">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved<i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="" target="_blank" >Lorex ICT Centre</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
      
          </div>
        </div>
        
      </div>
    </div>
  </footer>