{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="site-section cta-big-image" id="about-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="100">
          <h2 class="section-title mb-3">Welcome To My Page</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
          <figure class="circle-bg">
          <img src="{% static 'images/manu.jpg' %}" alt="Image" class="img-fluid">
          </figure>
        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
          <div class="mb-4">
            <h3 class="h3 mb-4 text-black">SOFTWARE ENGINEER</h3>
            <p>I am <strong>Emmanuel Lolim Lorey</strong> , a professional <strong>Software Engineer</strong>.I am a <strong>Bachelor Degree</strong> student pursuing <strong>Computer Science</strong> at <strong>South Eastern Kenya University</strong>. Very Focused on solving real World Problems, Changing the World and making World a better place. I am also <strong>Lorex ICT Centre</strong> Co-Founder and the CEO.</p>
            
          </div>
          <p><a href="https://github.com/LOREYLOLIM/" class="btn btn-primary mr-2 mb-2">MY GITHUB ACCOUNT</a></p>
        

          
            
          <div class="mb-4">
            <ul class="list-unstyled ul-check success">
              <li>Full Stack Web Developer</li>
              <li>Artficial Intelligence|Machine Learning Expert</li>
              <li>Desktop and Android Applications</li>
              <li>Cyber Security Expert</li>
            </ul>
            
          </div>

          
          
        </div>
      </div>
    </div>  
  </div>



  
  <section class="site-section border-bottom" id="team-section">
    <div class="border-top pt-5">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Skills and Competence</h2>
          <p class="lead" data-aos="fade-up" data-aos-delay="100">I am  a Freelancer and a Full time Coder.Normally, I do take the clients project  serious and work on them within the agreed time frame.I also work on students acardemic projects and I produce them the ultimate result as per their sitemap </div>
      </div>
      <div class="row">
        

        <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
          <div class="team-member">
            <figure>
              <img src="{% static 'images/python.jpeg' %}" alt="Image" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3>Full Stack Web and mobile based website</h3>
              <span class="position">Python Django-Framework</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <figure>
              <img src="{% static 'images/AI.jpeg' %}" alt="Image" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3>Artificial Intelligence|Machine Learning</h3>
              <span class="position">Python Anaconda-Framework</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
            <figure>
              <img src="{% static 'images/android.png' %}" alt="Image" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3>Desktop and Android Applications</h3>
              <span class="position">JAVA Lanaguage</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member">
            <figure>
              <img src="{% static 'images/hack.png' %}" alt="Image" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3>Networking,Cyber Security and Ethical Hacking</h3>
              <span class="position">Kali-Linux</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
          <div class="team-member">
            <figure>
              <img src="" alt="" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3></h3>
              <span class="position"></span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <figure>
              <img src="" alt="" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3></h3>
              <span class="position"></span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
            <figure>
              <img src="" alt="" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3></h3>
              <span class="position"></span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member">
            <figure>
              <img src="" alt="" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3></h3>
              <span class="position"></span>
            </div>
          </div>
        </div>


        
      </div>
    </div>
  </section>
  <section class="site-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Lorex ICT Centre Company</h2>
          <p class="lead" data-aos="fade-up" data-aos-delay="100">Lorex ICT Centre is our current Company that is upcoming.Our aim is to ensure Technology is real in the entire world</p>
        </div>
      </div>
      
        <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <figure class="circle-bg">
              <img src="{% static 'images/COMPUTER WORLD LOGO3.png' %}" alt="Image" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <div class="mb-4">
                <h3 class="h3 mb-4 text-black">Objective of the Company</h3>
                <p>Lorex ICT Centre aims at extending technology beyong zero among nations and in the entire world.As the Internet of Things pertakes almost everything in the current generation, Lorex ICT Centre come in to Champion the same to ensure the Mission, Vision and purpose of Technology is attained.
            </p>
            <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>

              </div>
      </div>
    </div>
  </section>


  {% endblock content %}