{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<section class="site-section bg-light" id="pricing-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade-up">
          <h2 class="section-title mb-3">Pricing</h2>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="">
          <div class="pricing">
            <h3 class="text-center text-black">Developments</h3>
            <div class="price text-center mb-4 ">
            </div>
            <ul class="list-unstyled ul-check success mb-5">
              
              <li></li>
              <li><span><span></span></li>
              <li class="remove"><span><span></span></li>
              <li class="remove"><span><span></span></li>
              <li class="remove"><span><span></span></li>


            </ul>
            <p class="text-center">
              <a href="#" class="btn btn-secondary">Request</a>
            </p>
          </div>
        </div>

        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="pricing">
            <h3 class="text-center text-black">Installations</h3>
            <div class="price text-center mb-4 ">
            </div>
            <ul class="list-unstyled ul-check success mb-5">
              
              <li><span><span></span></li>
              <li><span><span></span></li>
              <li><span><span></span></li>

              <li class="remove"><span><span></span></li>
            </ul>
            <p class="text-center">
              <a href="#" class="btn btn-primary">Request</a>
            </p>
          </div>
        </div>

        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="pricing">
            <h3 class="text-center text-black">Hardwares</h3>
            <div class="price text-center mb-4 ">
            </div>
            <ul class="list-unstyled ul-check success mb-5">
              
              <li><span><span></span></li>
              <li><span><span></span></li>
              <li><span><span></span></li>
              <li><span><span></span></li>

            </ul>
            <p class="text-center">
              <a href="#" class="btn btn-secondary">Request</a>
            </p>
          </div>
        </div>
      </div>
      

    </div>
  </section>

{% endblock %}