{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="site-section border-bottom bg-light" id="services-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title mb-3">Services</h2>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-startup"></span></div>
            <div>
              <h3>Website Development</h3>
              <p></p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-graphic-design"></span></div>
            <div>
              <h3>System Installations</h3>
              <p></p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-settings"></span></div>
            <div>
              <h3>Software Engineering Trainnig</h3>
              <p></p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-idea"></span></div>
            <div>
              <h3>Network Security Consultation</h3>
              <p></p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-smartphone"></span></div>
            <div>
              <h3>Networking and CCTV Installations</h3>
              <p></p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-head"></span></div>
            <div>
              <h3>Computer Sales, Repaire and Maintenance</h3>
              <p></p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  {% endblock %}